<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <title>AZEROTHS’PCS-Productos</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="../static/css/CSSProductos.css" rel="stylesheet" th:href="@{/css/CSSProductos.css}">
</head>

<body>

    <div th:replace="Navbar.html :: navbar"></div>

    <div class="container">
    <div class="row cienPorCien">
            <div class="col-md-4 estiloCarta" th:each="componentes : ${lista}">
                <figure class="card card-product">
                    <div class="img-wrap"><img th:src="${componentes.imagen}"></div>
                    <figcaption class="info-wrap">
                            <h4 class="title" th:text="${componentes.nombre}"></h4>
                            <p class="desc" th:text="${componentes.descripcion}"></p>
                            <div class="rating-wrap">
                            </div> <!-- rating-wrap.// -->
                    </figcaption>
                    <div class="bottom-wrap">
                        <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>	
                        <div class="price-wrap h5">
                                <img th:if="${componentes.enOferta}" src="img/enOferta.png" width="20" height="20" class="d-inline-block align-top" alt="">
                            <span class="price-new" th:text="${componentes.precioConDescuento}"></span>€ <del class="price-old"  th:if="${componentes.enOferta}" th:text="${componentes.precio}"></del>
                        </div> <!-- price-wrap.// -->
                    </div> <!-- bottom-wrap.// -->
                </figure>
            </div> <!-- col // -->
            </div> <!-- row.// -->
            </div> 
            <!--container.//-->

    <div th:replace="Footer.html :: footer"></div>
    
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>