<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>AZEROTHS’PCS-FormularioComponentes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="../static/css/CSSFormularioUsuarios.css" rel="stylesheet" th:href="@{/css/CSSFormularioUsuarios.css}">
</head>

<body>

    <div th:replace="Navbar.html :: navbar"></div>

    <div id="menu" class="opcionesMenu">
      <button class="btn btn-primary mb-2 bg-light"><a th:href="@{/admin/listaProductos}">Ver Productos</a></button> | <button class="btn btn-primary mb-2 bg-light"><a th:href="@{/admin/nuevoProducto}">Nuevo producto</a></button> | <button class="btn btn-primary mb-2 bg-light"><a th:href="@{/admin/nuevoComponente}">Nuevo Componente</a></button> | <button class="btn btn-primary mb-2 bg-light"><a th:href="@{/admin/nuevoAccesorio}">Nuevo Accesorio</a></button>  | <button class="btn btn-primary mb-2 bg-light"><a th:href="@{/admin/nuevoOrdenador}">Nuevo Ordenador</a></button>
    </div>
        
    <div class="formulario">
            <form class="needs-validation" th:action="${componentes.id != 0} ? @{/admin/editarProducto/submitComponente} : @{/admin/nuevoComponente/submit}" th:object="${componentes}" method="post">
              <div class="form-group">
                  <label for="nombre">Componente:</label>
                  <br>
              <td><input th:if="${componentes.id != 0}" type="hidden" name="id" th:field="*{id}" /></td>
                <input class="form-control form-control-lg" type="text" name="nombre" th:field="*{nombre}" placeholder="Nombre" />
              </div>
                <div class="form-group">
                    <label for="descripcion">Descripción: </label>
                <input class="form-control form-control-lg" type="text" name="descripcion" th:field="*{descripcion}" placeholder="Descripcion" />
              </div>
                <div class="form-group">
                <label for="precio">Precio: </label>
                <input class="form-control form-control-lg" type="text" name="precio" th:field="*{precio}" placeholder="Precio" />
              </div>
              <div class="form-group">
                <label for="enOferta">MARCAR SI EL COMPONENTE ESTA EN OFERTA </label>
                <input class="form-control form-control-lg" type="checkbox" name="enOferta" th:field="*{enOferta}" onchange="setEnOferta(true)"/>
              </div>
                <div class="form-group">
                <label for="disonible">Descunento del componente: </label>
                <input class="form-control form-control-lg" type="text" name="descuento" th:field="*{descuento}" placeholder="Descuento" />
              </div>
              <div class="form-group">
                    <label for="disonible">Cantidad:</label>
                <input class="form-control form-control-lg" type="text" name="cantidad" th:field="*{cantidad}" placeholder="Cantidad" />
              </div>
              <div class="form-group">
                <label for="disonible">MARCAR SI EL COMPONENTE ESTA DISPONIBLE </label>
                <input class="form-control form-control-lg" type="checkbox" name="disponible" th:field="*{disponible}" onchange="setDisponible(true)"/>
              </div>
                <div class="form-group">
                    <label for="imagen">Imagen: </label>
                <input class="form-control form-control-lg" type="text" name="imagen" th:field="*{imagen}" placeholder="Imagen" />
              </div>
              <div class="form-group">
                  <label for="marca">Marca: </label>
                <input class="form-control form-control-lg" type="text" name="marca" th:field="*{marca}" placeholder="Marca" />
              </div>
              <div class="form-group">
                  <label for="memoria">Memoria: </label>
                    <input class="form-control form-control-lg" type="text" name="memoria" th:field="*{memoria}" placeholder="Memoria" />
                  </div>
                  <div class="form-group">
                      <label for="velocidad">Velocidad: </label>
                        <input class="form-control form-control-lg" type="text" name="velocidad" th:field="*{velocidad}" placeholder="Velocidad" />
                      </div>
                      <div class="form-group">
                          <label for="socket">Socket: </label>
                            <input class="form-control form-control-lg" type="text" name="socket" th:field="*{socket}" placeholder="Socket" />
                          </div>
                          <div class="form-group">
                              <label for="tipoMemoria">Tipo Memoria: </label>
                                <input class="form-control form-control-lg" type="text" name="tipoMemoria" th:field="*{tipoMemoria}" placeholder="Tipo de Memoria" />
                              </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary mb-2">Enviar</button>
              </div>
            </form>
          </div>
        

    <div th:replace="Footer.html :: footer"></div>
    
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>