<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <title>AZEROTHS’PCS-FormularioUsuariosContraseña</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="../static/css/CSSFormularioUsuarios.css" rel="stylesheet" th:href="@{/css/CSSFormularioUsuarios.css}">
</head>

<body>

    <div th:replace="Navbar.html :: navbar"></div>

    <div id="menu" class="opcionesMenu">
      <button class="btn btn-primary mb-2 bg-light"><a th:href="@{/admin/listaUsuarios}">Ver Usuarios</a></button> | <button class="btn btn-primary mb-2 bg-light"><a th:href="@{/admin/nuevoUsuario}">Nuevo usuario</a></button>
    </div>
        
    <div class="formulario">
            <form class="needs-validation" th:action="${usuario.id != 0} ? @{/admin/editarUsuarioPassword/submit}" th:object="${usuario}" method="post">
              <div class="form-group">
                  <label for="nombre">INDIQUE LA NUEVA CONTRASEÑA DEL USUARIO:</label>
                  <br>
              <td><input th:if="${usuario.id != 0}" type="hidden" name="id" th:field="*{id}" /></td>
              <td><input th:if="${usuario.nombre != 0}" type="hidden" name="nombre" th:field="*{nombre}" /></td>
              <td><input th:if="${usuario.apellidos != 0}" type="hidden" name="apellidos" th:field="*{apellidos}" /></td>
              <td><input th:if="${usuario.dni != 0}" type="hidden" name="dni" th:field="*{dni}" /></td>
              <td><input th:if="${usuario.email != 0}" type="hidden" name="email" th:field="*{email}" /></td>
              <td><input th:if="${usuario.admin != 0}" type="hidden" name="admin" th:field="*{admin}" /></td>
              </div>
                <div class="form-group">
                <input class="form-control form-control-lg" type="password" name="contraseña" th:field="*{password}" placeholder="Contraseña" />
              </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary mb-2">Enviar</button>
              </div>
            </form>
          </div>
        

    <div th:replace="Footer.html :: footer"></div>
    
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>