<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>AZEROTHS’PCS-PcPortátil</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="css/CSSPcs.css" rel="stylesheet">
</head>

<body>

  <header>
    <div th:replace="Navbar.html :: navbar"></div>
    </header>


  <main role="main">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Lenovo Ideapad 330 Intel Core i7-8750H/16GB/1TB+256 SSD/GTX 1050/15.6" - 999€</h2>
          <p>PC Portátil ideal para tu oficina con un rendimiento adecuado para trabajos multimedia. </p>
          <img src="img/LenovoIdeapad.jpg">
          <h3>Caracteristicas:</h3>
          <ul>
            <li>Procesador Intel Core i7-8750H+HM370 (6 núcleos, 2,2 GHz - 4,1 GHz, 9 MB)</li>
            <li>Memoria RAM 16 GB 2400 MHz DDR4</li>
            <li>Almacenamiento 1 TB + 256 GB SSD M.2</li>
            <li>Unidad óptica No</li>
            <li>Display 15.6" 1920 x 1080 Pixeles FullHD</li>
            <li>Controlador gráfico NVIDIA GeForce GTX 1050 4 GB</li>
            <li>Conectividad
              802.11ac + Bluetooth® 4.1</li>
            <li>Cámara de portátil 0.3MP Camera with Microphone</li>
            <li>Micrófono Sí</li>
            <li>Batería Ion de litio 45 Wh</li>
            <li>Conexiones
              1 x HDMI
              1 x RJ45
              1 x Combo Audio
              2 x USB 3.0
              1 x USB Tipo C</li>
            <li>Lector de Tarjetas</li>
            <li>Sistema operativo Sin Sistema operativo</li>
            <li>Dimensiones (Ancho x Profundidad x Altura) 378 x 260 x 22.9 mm</li>
            <li>Peso 2.2 kg </li>
            <li>Color Gris</li>
          </ul>
          <p><a class="btn btn-secondary" href="Portada.html" role="button">Comprar »</a></p>
        </div>
        <div class="col-md-6">
          <h2>MSI GP73 Leopard 8RE-658XES Intel Core i7-8750H/16GB/1TB+256GB SSD/GTX 1060/17.3" - 1349€</h2>
          <p>PC Portátil ideal para gaming centrado en el alto rendimiento. </p>
          <img src="img/msiGP73.jpg">
          <h3>Caracteristicas:</h3>
          <ul>
            <li>Procesador Coffeelake i7-8750H+HM370 (6 núcleos, 2,2 GHz - 4,1 GHz, 9 MB)</li>
            <li>Memoria 16GB DDR4 (2 slots, máximo de 32GB)</li>
            <li>Almacenamiento 256GB NVMe PCIe SSD +1TB (SATA) 7200rpm </li>
            <li>Display 17.3" FHD (1920*1080), Anti-Glare, 100%sRGB</li>
            <li>Controlador gráfico GeForce® GTX 1060, 6GB GDDR5</li>
            <li>Conectividad
              Killer Gb LAN
              802.11 ac Wi-Fi + Bluetooth v5</li>
            <li>Cámara de portátil HD type (30fps@720p)</li>
            <li>Micrófono Sí</li>
            <li>Batería 6 celdas de Ion de litio 51 Whr</li>
            <li>Conexiones
              1 x salida de auriculares
              1 x entrada de micrófono
              1x Type-C USB3.1 Gen2
              2 x Type-A USB3.1 Gen1
              1 x Type-A USB3.1 Gen2
              1 x HDMI
              1 x Mini-DisplayPort
              1 x RJ45</li>
            <li>Lector de Tarjetas 1x SD (XC/HC)</li>
            <li>Sistema operativo FreeDos</li>
            <li>Dimensiones 419 x 287 x 32 mm</li>
            <li>Peso 2.7 Kg</li>
            <li>Color Negro</li>
          </ul>
          <p><a class="btn btn-secondary" href="Portada.html" role="button">Comprar »</a></p>
        </div>
      </div>

      <hr>

    </div>

  </main>

  <footer>
    <div th:replace="Footer.html :: footer"></div>
    </footer>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>