<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>AZEROTHS’PCS-Inicio</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="css/CSSProductoAdmin.css" rel="stylesheet">
</head>

<body>

  
    <div th:replace="Navbar.html :: navbar"></div>

    <br>
    <h2>Formulario para añadir productos siendo ADMINISTRADOR:</h2>
    <br>

   <form class="needs-validation formulario" novalidate method="POST" th:action="addProducto" th:object="${productoForm}">
        <div class="form-group">
        <label for="nombre">Nombre del producto:</label>
        <td><input type="text" th:field="*{nombre}"/></td>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripcion del producto:</label>
            <td><input type="text" th:field="*{descripcion}"/></td>
        </div>
        <div class="form-group">
            <label for="precio">Precio del producto:</label>
            <td><input type="text" th:field="*{precio}"/></td>
        </div>
        <div class="form-group">
            <label for="cantidad">Cantidad de productos de este tipo:</label>
            <td><input type="text" th:field="*{cantidad}"/></td>
        </div>
        <div class="form-group">
            <label for="imagen">Imagen del producto:</label>
            <td><input type="text" th:field="*{imagen}"/></td>
        </div>
        <div class="form-group">
            <label for="marca">Marca del producto:</label>
            <td><input type="text" th:field="*{marca}"/></td>
        </div>
        <input type="submit" value="Submit"/>
    </form>

    <div th:replace="Footer.html :: footer"></div>
    

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>