<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>AZEROTHS’PCS-ProductoAñadidoAdmin</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/CSSProductoAñadidoAdmin.css" th:href="@{/css/CSSProductoAñadidoAdmin.css}" >
  <!-- "@{/css/CSSProductoAñadidoAdmin.css}"-->
</head>

<body>

  
    <div th:replace="Navbar.html :: navbar"></div>

    <h2>Información del PRODUCTO enviada!!</h2>
    <table>
        <tr>
            <td>Nombre:</td>
            <td th:text="${producto.nombre}"></td>
        </tr>
        <tr>
            <td>Descripcion:</td>
            <td th:text="${producto.descripcion}"></td>
        </tr>
        <tr>
            <td>Precio:</td>
            <td th:text="${producto.precio}"></td>
        </tr>
        <tr>
            <td>En oferta:</td>
            <td th:text="${producto.enOferta}"></td>
        </tr>
        <tr>
            <td>Descuento:</td>
            <td th:text="${producto.descuento}"></td>
        </tr>
        <tr>
            <td>Cantidad:</td>
            <td th:text="${producto.cantidad}"></td>
        </tr>
        <tr>
            <td>Disponible:</td>
            <td th:text="${producto.disponible}"></td>
        </tr>
        <tr>
            <td>Imagen:</td>
            <td th:text="${producto.imagen}"></td>
        </tr>
        <tr>
            <td>Marca:</td>
            <td th:text="${producto.marca}"></td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary mb-2">Guardar Producto en la BASE DE DATOS</button>

    <div th:replace="Footer.html :: footer"></div>
    

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>