.navbarfijado{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  body {
    padding-top: 3.5rem;
  }
  .fondoQui{
    background-image: url(../static/img/fondoInfo.jpg);
    color: aliceblue;
  }
  .piePagina{
    border: none;
    border-radius: 0%;
    margin: 0%;
    background: none !important;
    color: #333;
  }