.navbarfijado{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
body {
  padding-top: 3.5rem;
  background-image: url(../img/fondo2.jpg);
  color: white;
}
.piePagina{
  border: none;
  border-radius: 0%;
  margin: 0%;
  background: none !important;
}

.formulario{
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.colorNegro{
  color: black;
}